
@{
    ViewBag.Title = "VerifyLoans";
    Layout = "~/Views/Shared/verifier.cshtml";
}

<!DOCTYPE html>

<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
       
        function CallMe(id) {
            $.ajax({
                url: 'http://localhost:64294/api/admin/VerifierViewLoans?id=' + id,
                contentType: 'application/json;charset=utf-8',

                method: 'get',
                Accept: "application/json",
                success: function (k, v) {
                    //alert(JSON.stringify(v));

                    $("#LoanId").val(id);

                    $("#Username").val(k.Username);
                    $("#AccountNumber").val(k.AccountNumber);
                    // $("#Dob").val(k.Dob);
                    $("#Income").val(k.Income);
                    $("#LoanAmount").val(k.LoanAmount);


                    //  $("#Aadhar").val(k.Aadhar);
                    //   $("#AccountType").val(k.AccountType);
                    $("#LoanType").val(k.LoanType);

                   // $("#Address").val(k.Address);

                    //     $("#IsAdmin").val(k.IsAdmin);
                    $('#myModal').modal('show');
                    $('#btnVerify').show();
                    if (k.status == 'verified') {
                        $('#btnVerify').attr('disabled', 'disabled');
                    }
                    else {
                        $('#btnVerify').removeAttr('disabled');
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });



        }

        function Verify() {
            jQuery.support.cors = true;

            var id = $("#LoanId").val();
            //var username = $("#username").val();

            //var firstname = $("#FirstName").val();
            //var lastname = $("#LastName").val();
            // var dob = $("#dob").val();
            //var phoneno = $("#PhoneNumber").val();
            //var email = $("#Email").val();


            // var aadhar = $("#aadhar").val();
            // var acctype = $("#account_type").val();
            //var balance = $("#Balance").val();

            //var address = $("#Address").val();

            //  var isadmin = $("#Isadmin").val();





            $.ajax({

                url: "http://localhost:64294/api/admin/VerifyLoans",

                type: "POST",

                ContentType: "application/json",

                dataType: "json",

                data: id,

                success: function (resultdata) {

                    // loadData();
                    $('#myModal').modal('hide');
                    $('#LoanId').val("");
                    $('#Username').val("");
                    $('#AccountNumber').val("");
                    $('#Income').val("");
                    $('#LoanAmount').val("");
                    $('#LoanType').val("");
                    
                    alert("Verified Successfully");
                    window.location.href = "http://localhost:55773/Verifier/VerifyLoans"

                },

                error: function (e) {

                    alert(JSON.stringify(e));

                }

            });
        }
    </script>

    <script src="~/Scripts/VerifierViewLoans.js"></script>
   

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>





</head>
<body>
   
        <h2>View Loans</h2>
        <table id="tb1" border="1" class="table">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>Username</th>
                    <th>AccountNumber</th>
                    <th>Income</th>
                    <th>Loan Amount</th>
                    <th>Loan Type</th>
                   <th>status</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table><br /><br />
        @*  <input type="button" id="btn" value="GetLoans" />*@




    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Verify Account Details</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="LoanId">Loan Id</label>
                            <input type="text" class="form-control" id="LoanId" placeholder="LoanId" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" id="Username" placeholder="Username" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="AccountNumber">Account Number</label>
                            <input type="text" class="form-control" id="AccountNumber" placeholder="AccountNumber" disabled="disabled" />
                        </div>

                        <div class="form-group">
                            <label for="Income">Income</label>
                            <input type="text" class="form-control" id="Income" placeholder="Income" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="LoanAmount">Loan Amount</label>
                            <input type="text" class="form-control" id="LoanAmount" placeholder="LoanAmount" disabled="disabled" />
                        </div>


                        <div class="form-group">
                            <label for="LoanType">LoanType</label>
                            <input type="text" class="form-control" id="LoanType" placeholder="LoanType" disabled="disabled" />
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    @*  <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>*@
                    <button type="button" class="btn btn-primary" id="btnVerify"  onclick="Verify();">Verify</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
</body>


