@*@model FrontEndMVC.Models.ApplyLoanModel*@
@{
    ViewBag.Title = "ApplyLoans";
    Layout = "~/Views/Shared/User.cshtml";
  }




@*<!DOCTYPE html>
<head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>
     $(document).ready(function () {

         
         $("#btnApply").click(function () {
             jQuery.support.cors = true;

             var loantype = $("#loan_type").val();

             var Emptype = $("#Emp_type").val();
             var Income = $("#txtIncome").val();
             var City = $("#txtCity").val();
             var LoanAmount = $("#txtLoanAmount").val();
             $.ajax({

                 url: "http://localhost:64294/api/user/applyLoan",

                 type: "POST",

                 contentType: "application/json; charset=utf-8",

                 dataType: "text",

                 data:'{"AccountNumber":"' + sessionStorage.getItem("accountno") + '","LoanType":"' + loantype + '","Income":"' + Income + '","LoanAmount":"' + LoanAmount + '","EmpType":"' + Emptype + '","City":"' + City + ' "}',

                 success: function (resultdata) {

                     console.log(resultdata);
                     alert("loan applied successfully");

                 },

                 error: function (e) {

                     alert(JSON.stringify(e));

                 }

             });
            

         });
        
     });
 </script>
</head>
<body>
    
    <h2>ApplyLoans</h2>

    <table style="width:100%;">
        <tr>
            <td class="auto-style2"> Loan Type :</td>
            <td class="auto-style2">
               
                <select name="LoanType" id="loan_type" style="margin-bottom:10px">
                    <option value="Personal Loan">Personal Loan</option>
                    <option value="Home Loan">Home Loan</option>
                    <option value="Car Loan">Car Loan</option>
                    <option value="Mortgage loan">Mortgage Loan</option>
                </select>
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">Employment Type :</td>
            <td class="auto-style2">
                
                <select name="Emptype" id="Emp_type" style="margin-bottom:10px">
                    <option value="Salaried">Salaried</option>
                    <option value="SelfEmployed">SelfEmployed</option>

                </select>
            </td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style2"> Income per month :</td>
            <td class="auto-style2">
                <input name="Income" id="txtIncome" type="number" style="margin-bottom:10px" />
                
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">City :</td>
            <td class="auto-style2">
              
                <input id="txtCity" type="text" style="margin-bottom:10px" />
            </td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td class="auto-style2">Loan Amount :</td>
            <td class="auto-style2">
               
                <input name="LoanAmount" id="txtLoanAmount" type="number" style="margin-bottom:10px" />
            </td>
            <td class="auto-style2"></td>
        </tr>
       
        <tr>
            <td class="auto-style2">&nbsp;</td>
            <td class="auto-style2">
                <button type="button" id="btnApply">Apply</button>
            </td>
        </tr>
    </table>
</body>*@






  










<!DOCTYPE html>

<head>

    <title></title>
    <style type="text/css">
        label.error {
            color: red;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>

        function UpdateLabelTxt() {

            var loan = document.getElementById('loan_type').value;

            if (loan == "Personal Loan") {

                document.getElementById('lblRateOfInterest').innerText = "Rate of interest is 10%";

            }

            else if (loan == "Home Loan") {

                document.getElementById('lblRateOfInterest').innerText = "Rate of interest is 5%";

            }

            else if (loan == "Car Loan") {

                document.getElementById('lblRateOfInterest').innerText = "Rate of interest is 15%";

            }

            else if (loan == "Mortgage Loan") {

                document.getElementById('lblRateOfInterest').innerText = "Rate of interest is 12%";

            }

            else if (loan == "") {

                document.getElementById('lblRateOfInterest').innerText = "";

            }

        }

        $(document).ready(function () {

            $("#ApplyLoanFm").validate({

                rules: {
                    loan_type:"required",

                    Emp_type: "required",

                    txtIncome: "required",

                    txtCity: "required",

                    txtLoanAmount: "required",

                },

                messages: {
                    loan_type: "Please select an option from the list",
                    Emp_type: "Please select an option from the list",

                    txtIncome: "Please enter your Income",

                    txtCity: "Please enter your city",

                    txtLoanAmount: "Please enter your loan amount",

                },

                submitHandler: function (form) {

                    jQuery.support.cors = true;





                    var loantype = $("#loan_type").val();



                    var Emptype = $("#Emp_type").val();

                    var Income = $("#txtIncome").val();

                    var City = $("#txtCity").val();

                    var LoanAmount = $("#txtLoanAmount").val();



                    















                    $.ajax({



                        url: "http://localhost:64294/api/user/applyLoan",



                        type: "POST",



                        contentType: "application/json; charset=utf-8",



                        dataType: "text",



                        data: '{"AccountNumber":"' + sessionStorage.getItem("accountno") + '","LoanType":"' + loantype + '","Income":"' + Income + '","LoanAmount":"' + LoanAmount + '","EmpType":"' + Emptype + '","City":"' + City + ' "}',



                        success: function (resultdata) {



                            console.log(resultdata);

                            alert("loan applied successfully");



                        },



                        error: function (e) {



                            alert(JSON.stringify(e));



                        }



                    });

                }



            });

        });

       

        $("#btnApply").click(function () {



        });

    </script>

</head>



<body>

    <form id="ApplyLoanFm">

        <div class="form-group">
            
            <label for="Loan Type">Loan Type :</label>

            <select name="loan_type" class="form-control" id="loan_type" onchange="UpdateLabelTxt()">

                <option value="">None</option>

                <option value="Personal Loan">Personal Loan</option>

                <option value="Home Loan">Home Loan</option>

                <option value="Car Loan">Car Loan</option>

                <option value="Mortgage loan">Mortgage Loan</option>

            </select>
            <label id="lblRateOfInterest"></label>
        </div>
        
        <div class="form-group">

            <label for="Employment Type">Employment Type :</label>

            <select name="Emp_type" class="form-control" id="Emp_type">

                <option value="">None</option>

                <option value="Salaried">Salaried</option>

                <option value="SelfEmployed">SelfEmployed</option>

            </select>

        </div>

        <div class="form-group">

            <label for="Income per month:">Income per month:</label>

            <input type="text" class="form-control" id="txtIncome" name="txtIncome" placeholder="Income per month" />

        </div>

        <div class="form-group">

            <label for="City:">City:</label>

            <input type="text" class="form-control" id="txtCity" name="txtCity" placeholder="City" />

        </div>

        <div class="form-group">

            <label for="Loan Amount:">Loan Amount:</label>

            <input type="text" class="form-control" id="txtLoanAmount" name="txtLoanAmount" placeholder="Loan Amount" />

        </div>

        <div><input type="submit" id="btnApply" value="submit"></div>

    </form>
</body>